@using Microsoft.AspNetCore.Identity
@using EsportsTournament.Models
@inject SignInManager<AspNetUsers> SignInManager
@inject UserManager<AspNetUsers> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Dashboard" title="My Account">Hello, @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }

</ul>
